body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
img{
    border-radius: 100%;

}
    body{
        background-color:#f8edeb; text-align: center;
    }

h1{
    font-family: cursive;
    font-size: 50px;
    font-style: italic;
}

p {
    text-align: center;
}

.paragrafo {
    background-color: white;
    
   
}

.life {
    color: rgb(179, 71, 44);
}

.texto_descritivo {
    overflow-y:scroll;
    width: 80%;
    height: 300px;
   
}
