body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    border-radius: 100%;

}
    body{
        background-color:#f8edeb; text-align: center;
    }

h1{
    font-family: cursive;
    font-size: 50px;
    font-style: italic;
}

p {
    text-align: center;
}

#foto_da_Aélida {

}
